@charset "UTF-8";
/* reset */

h1 {
  font-family: 'Star Jedi', arial;
}

p {
  line-height: 1;
}



/* eyecatch */
.eyecatch{
  background-image: url(./img/top/eyecatch__sp.jpg);
  background-size: cover;
  background-position: center;
  height: 61.8046vw;
}
